{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключение OpenSeadragon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.0/openseadragon.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">

</head>

<body>

    <!-- Область карты -->
    <header class="glass-header">

        <div style=" height: 50px; margin-left: auto; margin-right: auto;">
            <h1>Navigation Shemes</h1>
            <button class="btnPages" id="addImageBtn" style="width: 150px; height: 50px;">Добавить изображение</button>
            <button class="btnPages" style="width: 150px; height: 50px;">Создать путь</button>
            <button class="btnPages" style="width: 150px; height: 50px;" onclick="switchPage(this, 'pageFirst')">Страница 1</button>
            <button class="btnPages" style="width: 150px; height: 50px;" onclick="switchPage(this, 'pageSecond')">Страница 2</button>
            <button class="btnPages" style="width: 150px; height: 50px;" onclick="switchPage(this, 'pageThird')">Страница 3</button>
        </div>
    </header>

    <section class="map-section">
        <div class="page" id="pageFirst">
        <div id="pageFirst-target-element"
        style="width: 100%; height: 80vh; border: 1px solid black; position: relative; overflow: hidden;">
        <img id="pageFirst-map"
        src="{% static 'images/maps/first.jpeg' %}"
        style="position: absolute; top: 285px; left: 500px; transform: translate(-50%, -50%); width: auto; height: 100%;">
    </div>
</div>

<div class="page" id="pageSecond" style="display: none;">
    <div id="pageSecond-target-element"
    style="width: 100%; height: 80vh; border: 1px solid black; position: relative; overflow: hidden;">
    <img id="pageSecond-map"
    src="{% static 'images/maps/second.jpeg' %}"
    style="position: absolute; top: 285px; left: 500px; transform: translate(-50%, -50%); width: auto; height: 100%;">
</div>
</div>

<div class="page" id="pageThird" style="display: none;">
    <div id="pageThird-target-element"
    style="width: 100%; height: 80vh; border: 1px solid black; position: relative; overflow: hidden;">
    <img id="pageThird-map"
    src="{% static 'images/maps/third.jpeg' %}"
    style="position: absolute; top: 285px; left: 500px; transform: translate(-50%, -50%); width: auto; height: 100%;">
</div>
</div>
</section>




</body>
<div class="troywell-avia"></div>
<div class="troywell-caa"></div>
</html>


<script src="{% static 'scripts/map.js' %}"></script>
<script src="{% static 'scripts/mark.js' %}"></script>
<script src="{% static 'scripts/popup.js' %}"></script>
<script src="{% static 'scripts/script.js' %}"></script>
<script src="{% static 'scripts/net/send.js' %}"></script>
<script src="{% static 'scripts/net/get.js' %}"></script>
<script src="{% static 'scripts/pages.js' %}"></script>
<script src="{% static 'scripts/popupImage.js' %}"></script>

<script>
    const mark1 = "{% static 'images/marks/x.png' %}";
    const mark2 = "{% static 'images/marks/x2.png' %}";
    const mark3 = "{% static 'images/marks/x3.png' %}";
    const mark4 = "{% static 'images/marks/x4.png' %}";
    const cabinets412 = "{% static 'images/cabinets/412.jpeg' %}";
    const cabinets413 = "{% static 'images/cabinets/413.jpeg' %}";
    const cabinets414 = "{% static 'images/cabinets/414.jpeg' %}";
    const cabinets415 = "{% static 'images/cabinets/415.jpeg' %}";
    // Обработчик для вызова функции при загрузке страницы
    window.onload = function () {
        activeMap('pageFirst-target-element', 'pageFirst-map')
        getCoords()
    };
</script>